//- +e('strong', 'This will appear 10 times')
//-   p This will appear 10 times
mixin e(element, text)
	- var element = typeof element != "undefined" ? element : 'div'
	- element = element != "" ? element : 'div'
	#{element}&attributes(attributes)= text
		block

//- Pre mixin
//- @mixin +pre(class)
//- @param {string} cls: class name
mixin pre(cls)
	unless cls
		- cls = ''
	pre(class=cls)
		code
			block

//- close mixin
//- @mixin +close(dismiss)
//- @param {string} dismiss: ex - alert, modal
mixin close(dismiss)
	unless dismiss
		- var dismiss = ''
	button.close(type='button', data-dismiss=dismiss aria-label='Close')
		span(aria-hidden='true') ×

//- embed mixin
//- @mixin +embed()
//- @param {string} _src: link of media
//- @param {string} ratios: ratio of embed
mixin embed(_src, ratios)
	unless !_src
	.embed-responsive(class=`embed-responsive-${ratios}`)
		iframe.embed-responsive-item(src=_src, allowfullscreen='')

mixin embed-21by9(_src)
	+embed(_src, '21by9')
mixin embed-16by9(_src)
	+embed(_src, '16by9')
mixin embed-4by3(_src)
	+embed(_src, '4by3')
mixin embed-1by1(_src)
	+embed(_src, '1by1')

mixin blockquote(text,footer,author,style)
	- var text = text || ''
	- var style = style || ''
	- var footer = footer || ''
	- var author = author || ''
	blockquote.blockquote(class=style)
		!= text
		block
		if(footer !=='' || author !=='' )
			footer.blockquote-footer!= footer + ' '
				cite(title=author)!= author

mixin blockquote-center(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-center' + style)

mixin blockquote-right(text,footer,author,style)
	- var style = ' ' + style || ''
	+blockquote(text,footer,author,'text-right' + style)

mixin titleSection(title)
	.titleSection
		.row.justify-content-center
			.col-md-5
				.titleSection_heading.wow.zoomIn
					h3 #[=title]
mixin featuredPanel(data)
	.featuredPanel.wow.fadeInUp
		.featuredPanel_wrapper
			if data && data.length > 0
				each dt, idx in data
					.featuredPanel_item
						.featuredPanel_rating #[=dt.rating]
						.featuredPanel_item_wrap
							.featuredPanel_item_img
								+img-bg(dt.srcImg,'thumbnail','','/detail.html')
							.featuredPanel_item_content
								a(href="/detail.html").featuredPanel_item-link #[=dt.place]
								p Restaurant • 3 Reviews • $$$$$
								ul
									li
										i.icon.ic-marker
										span #[=dt.location]
									li 
										i.icon.ic-smartphone
										span #[=dt.phone]
									li 
										i.icon.ic-link
										span #[=dt.link]
								.bottom-icons(class=dt.status==='Close Now'?'close':'open')
									p #[=dt.status]
mixin categoryItem(iconName, name)
	a(href="#").categoryPanel_item.wow.zoomIn
		.categoryPanel_item-icon
			i.icon(class=`ic-${iconName}`)
			h6 #[=name]

mixin gallery_banner()
	.gallery-banner
		.gallery-section.swiper-container#aniimated
			.grid-gallery.swiper-wrapper
				.grid-sizer
				.grid-item.size-vertical.swiper-slide
					a.img-bg.galleryItem(href="/images/detail1.jpg" data-fancybox="images1" data-caption="This image has a simple caption" style="background-image:url('/images/detail1.jpg')")
						img(src="/images/detail1.jpg", alt="Image not found")
				each val in [2,1,3,2]
					.grid-item.size-horizontal.swiper-slide
						a.img-bg.galleryItem(href="/images/detail"+val+".jpg",data-fancybox=`images${1}`, data-caption=`This image has a simple caption ${val}` , style="background-image:url('/images/detail"+val+".jpg')")
							img(src="/images/detail"+val+".jpg", alt="Image not found")
mixin commentPanel(score)
	.customer-review_wrap
		.customer-img
			+img-bg('/images/avatar.png')   
			p Amanda
		.customer-content-wrap
			.customer-content
				.customer-review
					h6 Best noodles in the Newyork city
					.estimate
						.estimate-star
							.rating
								.empty-stars
								.full-stars(style="width:70%")
						.estimate-item
							p Reviewed 2 days ago
				.customer-rating #[=score]
			.customer-text 
				p I love the noodles here but it is so rare that I get to come here. Tasty Hand-Pulled Noodles is the best type of whole in the wall restaurant. The staff are really nice, and you should be seated quickly. I usually get the
					| hand pulled noodles in a soup. House Special #1 is amazing and the lamb noodles are also great. If you want your noodles a little chewier, get the knife cut noodles, which are also amazing. Their dumplings are great
					| dipped in their chili sauce.