//- modal
mixin modal(title,_id,_class,size)
	unless _id
		- var _id = 'modal-' + Math.floor(Math.random() * (15 - 1300) + 1300)
	unless _class
		- var _class = ''
	unless size
		- var size = ''
	.modal.fade(id=_id,class=_class,tabindex="-1",role="dialog",aria-labelledby=`${_id}Label` aria-hidden="true")
		.modal-dialog.modal-dialog-centered(role='document',class=`modal-${size}`)
			.modal-content
				+modal-head(title,false)
				block


mixin modal-head(title,dismiss)
	.modal-header
		h5.modal-title!= title
		if (typeof dismiss !== 'undefined' && dismiss==true)
			+close("modal")
		block

mixin modal-footer()
	.modal-footer 
		button.btn.btn-secondary(type='button', data-dismiss='modal') Close
		block

mixin modalLogin
	+modal('Sign in to Listings','modalLogin')
		.form-content
			form(action="#").form.form-validate
				.form-list
					input(type="email" name='email' placeholder="Email" required)
				.form-list
					input(type='password' name='passLogin' required placeholder='Password')
				.tip: a.tip-right(href='/forgotPassword.html') Forgot password?
				.group-btn
					button(type='submit').btn-custom Sign in
				
				p.tip.signup-tip
					span Don't have an account? &nbsp;
					a(href='signup.html') Sign up
mixin modalSuccessSent
	+modal('Successful !','modalSuccessSent')
		.modal-body
			p The reset password has sent to your mail
		+modal-footer
mixin modalReviewHandle
	+modal('Viết bình luận','modalReviewHandle')
		.modal-body
			//- p The reset password has sent to your mail
			form(action="#").form-content.form-validate#frmReview
				.form-group
					input(type="text" name='title' placeholder="Nhập tiêu đề, ví dụ: Món ăn ở đây thật tuyệt!").form-control
				.form-group.mb-20
					textarea.form-control(name='review' rows='6' required)
				hr
				.form-group
					label(name='rangeRating') Đánh giá
					input(type="text" name="rangeRating")#rangeRating
				.form-group(style='text-align: center')
					button(type='submit').btn-form Hoàn tất



